<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bgm_line.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {300, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{300, 17}</string>
			<key>spriteSourceSize</key>
			<string>{300, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 226}, {300, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>closeBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{544, 188}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>configBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 245}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>continue_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {232, 92}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{232, 92}</string>
			<key>spriteSourceSize</key>
			<string>{236, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 94}, {232, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>continue_jp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {232, 92}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{232, 92}</string>
			<key>spriteSourceSize</key>
			<string>{236, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 0}, {232, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>creditBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {58, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{422, 207}, {58, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>double_sp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {60, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{60, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{936, 184}, {60, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>effect_line.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {298, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{298, 17}</string>
			<key>spriteSourceSize</key>
			<string>{300, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 188}, {298, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>facebook.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{936, 62}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gamecenter.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{936, 0}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gfBtn_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 36}</string>
			<key>spriteSourceSize</key>
			<string>{180, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 188}, {180, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gfBtn_jp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 36}</string>
			<key>spriteSourceSize</key>
			<string>{180, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 468}, {180, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>handle_bgm.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 7}, {118, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{118, 110}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 244}, {118, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>handle_effect.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 7}, {118, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{118, 110}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 356}, {118, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>normal_sp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {60, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{60, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 245}, {60, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {82, 27}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{82, 27}</string>
			<key>spriteSourceSize</key>
			<string>{86, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 188}, {82, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {82, 27}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{82, 27}</string>
			<key>spriteSourceSize</key>
			<string>{86, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{688, 188}, {82, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {60, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{60, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 245}, {60, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>play_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {232, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{232, 92}</string>
			<key>spriteSourceSize</key>
			<string>{236, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 0}, {232, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>play_jp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {232, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{232, 92}</string>
			<key>spriteSourceSize</key>
			<string>{236, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 94}, {232, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playback_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {232, 92}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{232, 92}</string>
			<key>spriteSourceSize</key>
			<string>{236, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {232, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playback_jp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {232, 92}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{232, 92}</string>
			<key>spriteSourceSize</key>
			<string>{236, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 0}, {232, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>resume.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {60, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{60, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{936, 124}, {60, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shopBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {60, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 245}, {60, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>title_en.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {232, 92}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{232, 92}</string>
			<key>spriteSourceSize</key>
			<string>{236, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 94}, {232, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>title_jp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {232, 92}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{232, 92}</string>
			<key>spriteSourceSize</key>
			<string>{236, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 94}, {232, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>twitter.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {60, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 58}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 188}, {60, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>button.zwd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>button_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>button_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>